footer {
  width: 100%;
  text-align: center;
  background-color: blue;
}
.cimage {
  height:100%;
  width: 100%;
}

.cimage:hover .cardtext {
  background-color: red;
  display: block;
}
.cardtext {
  font-size: 2em;
  margin-top: 50%;
  text-align: center;
  background-color: blue;
  color: white;
  display: none;
}

.card-img-overlay {
  padding: 0;
}

@media screen and (max-width:768px){
  /* make the text center */
  body {
    text-align: center;
    width: 100%;
  }

  h1 {
    text-align: center;
    width: 100%;
  }
}